<? xml version="1.0" encoding="UTF-8"?>
<  widget xmlns ="http://www.w3.org/ns/widgets"
	xmlns:gap    ="http://phonegap.com/ns/1.0"
	id    		 ="com.phonegap.example" <!-- Pode ser alterado consoante a identificação do projecto -->
	version 	 ="1.0.0">
	
<name> Nome da aplicação </name>
	
	<description> Feito pelo phoneGap </description>
	
	<author href="https://example.com" email="silvanazinha@gmail.com">
	
		Luís Silva
	
	</author>
		
		<icon src="icon.png">
		
</widget>
